*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (min-width: $xl-pc) {
    font-size: 68.5%;
  }
}

body {
  font-family: $font-display;
  font-weight: map-get($font-weight, normal);
  color: $secundary-color;
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
